/* Quy định chung */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
    line-height: 1;
    font-size: 14px;
    font-family: "Roboto",sans-serif;
}
a{
    text-decoration: none;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
a:hover, a:focus {
    text-decoration: none;
}
.container{
    max-width: 1200px;
}
::placeholder {
    color: #999 !important;
    opacity: 1;
}

:-ms-input-placeholder { 
    color: #999 !important;
}

::-ms-input-placeholder {
    color: #999 !important;
}

/* KẾT */

/* SHOP SIDEBAR */
.category-page .shop-sidebar{
    padding-right: 0;
}
/* KẾT */

/* breadcrumbs */
.page-title.shop-page-title{
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
    box-shadow: -1px 1px 4px 0px rgb(137 152 172 / 30%);
}
.page-title.shop-page-title .breadcrumbs a{
    color: #999;
}
.page-title.shop-page-title .breadcrumbs a.active,
.page-title.shop-page-title .breadcrumbs a:hover,
.page-title.shop-page-title .breadcrumbs span{
    color: #007aff;
}
/* KẾT */

/* Danh mục */
.widget{
    box-shadow: -1px 1px 3px 0px rgb(137 152 172 / 30%);
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #f7f7f7;
    border-radius: .25rem;
    padding: 10px;
}
    /* title */
.widget-title{
    font-size: 16px;
    font-weight: 500;
    color: #333942;
}
    /* search */
.widget-search {
    position: relative;
    margin-bottom: 15px;
}
.widget-search button{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0 10px;
    transform: translate(0, -50%);
    transition: all 0.5s;
    opacity: 0.5;
}
.widget-search button:focus{
    outline: none;
}
.widget-search button:hover{
    cursor: pointer;
}
.widget-search input{
    border-radius: 20px;
    font-size: 13px;
    border-color: #ced4da;
    height: 38px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.widget-search input.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.widget-search .search-icon{
    width: 27px;
    height: 27px;
    background-size: 345px;
    background-position: -108px -6px;
    display: inline-block;
    background-image: url("../image/icon.png");
}
    /* check box */
.check-custom{
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}
.check-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    border: 1px solid #DDD;
}
.check-custom input:checked ~ .checkmark {
    background: #BB0029;
    border-color: #BB0029;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check-custom input:checked ~ .checkmark:after {
    display: block;
}
.check-custom .checkmark:after {
    left: 4px;
    top: -1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
    /* check box scroll view */
.scrollbar{
    max-height: 320px;
    overflow-y: scroll;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.scrollbar:hover::-webkit-scrollbar {
    display: inline;
}
.scrollbar::-webkit-scrollbar {
    background-color:#fff;
    width:14px;
    display: none;
}
.scrollbar::-webkit-scrollbar-track {
    background-color:#fff
}
.scrollbar::-webkit-scrollbar-track:hover {
    background-color:#eee
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color:rgb(226, 226, 226);
    border-radius:7px;
    border:4px solid #fff;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:rgb(206, 206, 206);
    border: 2px solid #eee;
}
.scrollbar::-webkit-scrollbar-button {display:none}
/* KẾT */

/* FILTER GIÁ */
    /* slider */
.price-range-slider .range-bar{
    border: none;
    background: #DEE5E9;
    height: 6px;  
    margin-bottom: 20px;
}
.price-range-slider .range-bar .ui-slider-range {
    background:#BB0029 ;
    height: 6px;
}
.price-range-slider .range-bar .ui-slider-handle {
    border:none;
    border-radius:25px;
    background:#fff;
    border:1px solid #c5c5c5;
    height:16px;
    width:16px;
    top: 50%;
    transform: translate(0, -50%);
    cursor:pointer;
    outline: none;
}
.ui-widget.ui-widget-content {
    border: none !important;
}
    /* hiển thị giá */
.widget-price{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.widget-price input{
    background: #fff !important;
    cursor: not-allowed;
    font-size: 13px;
}
.widget-price .title-range{
    margin-bottom: 10px;
}
.widget-price .box-input{
    position: relative;
}
.widget-price .box-input span{
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: #8998AC;
}
.widget-price .form-group.col-6.phai{
    padding-left: 5px;
}
.widget-price .form-group.col-6.trai{
    padding-right: 5px;
}
    /* button Áp dụng */
.widget .btn-price {
    width: 100%;
    height: 34px;
    border-radius: 17px;
    border: 1px solid #BB0029;
    background-color: #BB0029;
    color: #FFFFFF;
    font-size: 13px;
    outline: none;
    cursor: pointer;
}

/* Bộ lọc sản phẩm */
.filter-cate {
    background: #fff;
}
.filter-cate ul {
    padding-inline-start: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 46px;
}
.filter-cate ul li a.active {
    color: #BB0029;
}
.filter-cate ul li a {
    color: #333942;
}
/* KẾT */




/* RESPONSIVE */
@media only screen and (max-width: 992px) {
    .category-page .shop-sidebar{
        padding: 0;
    }
    .widget{
        box-shadow: none;
        border: none;
    }
    .widget.danhmuc{
        display: none;
    }
    .widget .widget-search{
        display: none;
    }
    #breadcrumbs{
        display: none;
    }
    .checkmark {
        right: 5px;
        left: auto;
    }
    .check-custom{
        padding: 10px 5px 0px 5px;
        margin: 0;
        
    }
    .check-custom:after{
        border-bottom: 1px solid rgba(0,0,0,0.125);
        content: "";
        display: block;
        margin-top: 10px;
    }
    .check-custom .count-item{
        display: none;
    }
    .widget .btn-price{
        display: none;
    }
    .widget {
        margin: 0;
        padding-bottom: 0;
    }
    .widget .box-input {
        margin-bottom: 8px;
    }
    .form-group{
        margin-bottom: 0;
    }
    .filter-cate{
        
        border-bottom: 1px solid #e3e3e3;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        z-index: 1;
    }
}
/* KẾT */

